*{
	padding: 0;
	margin: 0;
}

html,body{
	height: 100%
}

body{
	
	background-image: url(../images/sandpaper.png);
	font-family: 'Arial', 'helvetic neue', helvetica, sans-serif;
	color: #777777;
	font-size: 18px;
	line-height: 150%;
	margin: 0;
	padding: 0;

}


a{
	color: #777777;
	text-decoration: none;
	text-align: center;
}

header{
	background-color:#ffffff;
	border: 2px solid #cccccc;
	height: 100px;

}

h1{
	
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	padding: 24px;
	border: 1px solid #4aaaa5;
	display:inline-block;
	
}

h2{
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin-left: 35px;
	border-bottom: 2px solid #dddddd;
	padding: 10px;
	width:500px;
	
}

h3{
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border-bottom: 2px solid #dddddd;
	padding:10px;
	width: 200px;
	margin-left: 25px;
}


nav{
	
	
	float: right;
	margin-top: 50px;
	
	font-size: 20px;
	
	
	
}

.container{
	
	margin: 0 auto 0 auto;
	width: 960px;
	margin-top: 25px;
	margin-bottom: -80px;
	min-height: 100%;
	position: relative;


}



.about-me{
	background-color: #ffffff;
	border:2px solid #dddddd;
	width: 600px;
	display: inline-block;



}

#profile-image{
	float: left;
	width: 200px;
	height: 200px;
	margin:35px;
	border: 1px solid #dddddd;
}



p{
	
	margin: 35px;
}

.connect_me{

	float:right;
	background-color: #ffffff;
	border:2px solid #dddddd;
	width: 250px;


}

.social_links{

	padding: 20px;
}

.portfolio{
	background-color: #ffffff;
	border:2px solid #dddddd;
	width: 600px;
	display: inline-block;
}

.portfolio_image{
	height: 200px;
	width: 250px;
	padding-top: 10px;
	margin-left: 35px;
	display: block;
}

.contact{
	background-color: #ffffff;
	border:2px solid #dddddd;
	width: 600px;
	display: inline-block;
}

form{

	margin-left: 35px;
}

footer{

	clear:both;
	color: #ffffff;
	background-color: #666666;
	text-align: center;
	padding: 50px;
	border-top: 4px solid #4aaaa5;
	height: 100px;
	position:absolute;
	width: 100%;
	bottom:0;
	left: 0;
	z-index: 2000;

}

.giraffe, .rhino, .puppy, .ipad, .coast{
	
	position:relative;
	height: 200px;
	width: 250px;
	margin: 0;
	padding: 0;
	display: inline-block;

}

h6{
	
	position:absolute;
	width: 100%;
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	left: 35px;
	top:150px;
	z-index: 1000;
	opacity: .8;

}
